################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cleaner/.vs/Cleaner/v17/.suo
/Cleaner/.vs/Cleaner/FileContentIndex
/Cleaner/.vs/Cleaner/FileContentIndex/7857733e-0416-48f9-ad47-2eb1ab7bbcc6.vsidx
/Cleaner/Cleaner/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Cleaner/Cleaner/obj/Debug/Cleaner.csproj.AssemblyReference.cache
/Cleaner/Cleaner/bin/Release
/Cleaner/Cleaner/obj/Release
